.p {
  border: solid 2px #ababab;
  padding: 40px;
  margin: 40px;
  text-align: center;
}

.p1 {
  @extend .p;
  font-size: 48px;
}

.p2 {
  @extend .p;
  font-size: 32px;
  span{
    display: block;
    a{
      color: red;
    }
  }
  &:hover{
    border-color: $success;
    a{
      cursor: pointer;
      color: $info;
    }
  }
  &-primary{
    font-size: 96px;
  }
}